<!-- <h1>Sign Up Form</h1>

<link type="text/css" rel="stylesheet" href="/public/assets/style.css" />
<div class="topnav">
  <p>
    <button
      type="button"
      class="btn btn-primary"
      onclick="window.location.replace('/')"
    >
      Home
    </button>
  </p>
  <p>
    <button
      type="button"
      class="btn btn-primary"
      onclick="window.location.replace('/login')"
    >
      Login
    </button>
  </p>

  <p>
    <button
      type="button"
      class="btn btn-primary"
      onclick="window.location.replace('/signup')"
    >
      Sign Up
    </button>
  </p>
</div>
<br />

<form method="POST" action="/signup">
  <input type="text" name="username" placeholder="username" />
  <input type="password" name="password" placeholder="password" />
  <button>Submit</button>
</form>

<li><a href="/login">Login!</a></li> -->

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="../public/assets/projectLogo.ico" />

    <link
      type="text/css"
      rel="stylesheet"
      href="/public/assets/stylesheet_signup.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Patua+One|Lato|Source+Sans+Pro|Zilla+Slab"
    />
    <title>SignUp</title>
  </head>

  <body>
    <!--  very imp -->
    <div class="topnav">
      <p>
        <button type="button" onclick="window.location.replace('/login')">
          Login
        </button>
      </p>

      <p>
        <button type="button" onclick="window.location.replace('/signup')">
          Sign Up
        </button>
      </p>
    </div>

    <div class="bg-img">
      <div id="identity">
        <div class="hero-text top">
          Sharing documents made easy
        </div>

        <div class="hero-text logo">
          ShareDocs
        </div>

        <div class="logo-icon">
          <img
            height="160px"
            width="216px"
            src="/public/assets/projectLogo.png"
          />
        </div>
      </div>

      <form
        style=" margin-top:80px; margin-right:20px;"
        method="POST"
        action="/signup"
        class="container"
      >
        <div class="bar"></div>
        <h1 style="text-align: center; font-family: 'Zilla Slab', sans-serif;">
          Sign Up
        </h1>

        <h3 style="text-align: center; font-family: 'Zilla Slab', sans-serif;">
          Create a new id using your email
        </h3>

        <label
          for="name"
          style="text-align: center; font-family: 'Zilla Slab', sans-serif; font-size: 18px;"
          ><b>User Name</b>
        </label>
        <input type="text" name="name" placeholder="username" />

        <label
          for="email"
          style="text-align: center; font-family: 'Zilla Slab', sans-serif; font-size: 18px;"
          ><b>Email</b>
        </label>
        <input type="email" name="username" placeholder="email id" />

        <label
          for="psw"
          style="text-align: center; font-family: 'Zilla Slab', sans-serif; font-size: 18px;"
          ><b>Password</b>
        </label>
        <input type="password" name="password" placeholder="password" />

        <button
          type="submit"
          class="btn"
          style="text-align: center; font-family: 'Source Sans Pro', sans-serif; font-size: 18px;"
        >
          Sign Up
        </button>
      </form>
    </div>

    <div class="footer">
      <table width="80%" style="justify-content: center;">
        <tr>
          <th>Header1</th>
          <th>Header1</th>
          <th>Developers</th>
          <th>ShareDocs</th>
        </tr>
        <tr>
          <td>
            <span style="color:white; font-size:14px"> &#10095; </span>Link1
          </td>
          <td>
            <span style="color:white; font-size:14px"> &#10095; </span>Drive
          </td>
          <td>
            <span style="color:white; font-size:14px"> &#10095; </span
            >Documentation
          </td>
          <td>
            <span style="color:white; font-size:14px"> &#10095; </span>About Us
          </td>
        </tr>
        <tr>
          <td>
            <span style="color:white; font-size:14px"> &#10095; </span>Link1
          </td>
          <td>
            <span style="color:white; font-size:14px"> &#10095; </span>Changelog
          </td>
          <td>
            <span style="color:white; font-size:14px"> &#10095; </span>Support
          </td>
          <td>
            <span style="color:white; font-size:14px"> &#10095; </span>Blogs
          </td>
        </tr>
        <tr>
          <td>
            <span style="color:white; font-size:14px"> &#10095; </span>Link1
          </td>
          <td>
            <span style="color:white; font-size:14px"> &#10095; </span>Quick
            Start Guide
          </td>
          <td>
            <span style="color:white; font-size:14px"> &#10095; </span>GitHUB
          </td>
          <td>
            <span style="color:white; font-size:14px"> &#10095; </span>The Team
          </td>
        </tr>

        <tr>
          <td>
            <span style="color:white; font-size:14px"> &#10095; </span>Link1
          </td>
          <td>
            <span style="color:white; font-size:14px"> &#10095; </span>Link1
          </td>
          <td>
            <span style="color:white; font-size:14px"> &#10095; </span>Link1
          </td>
          <td>
            <span style="color:white; font-size:14px"> &#10095; </span>Contacts
          </td>
        </tr>

        <tr>
          <td>
            <span style="color:white; font-size:14px"> &#10095; </span> Link1
          </td>
          <td>
            <span style="color:white; font-size:14px"> &#10095; </span> Link1
          </td>
          <td>
            <span style="color:white; font-size:14px"> &#10095; </span> Link1
          </td>
          <td><span style="color:white; font-size:14px"> &#10095; </span></td>
        </tr>
      </table>

      <p style="text-align: center;">
        ShareDocs copyrigtht and other legal info that needs to be added to this
        list right here
      </p>
    </div>
  </body>
</html>
