@media only screen and (min-width: 992px) {
    body {
        font-family: 'Source Sans Pro', sans-serif;
        /*font-size: 0.9em;*/
        margin: 0;
        background-color: white;
    }

    /* Rules for sizing the icon. */
    .material-icons.md-18 {
        font-size: 18px;
    }

    .material-icons.md-24 {
        font-size: 24px;
    }

    .material-icons.md-36 {
        font-size: 36px;
    }

    .material-icons.md-48,
    .material-icons-round.md-48 {
        font-size: 48px;
    }

    /* Rules for using icons as black on a light background. */
    .material-icons.md-dark {
        color: rgba(0, 0, 0, 0.54);
    }

    .material-icons.md-dark.md-inactive {
        color: rgba(0, 0, 0, 0.26);
    }

    /* Rules for using icons as white on a dark background. */
    .material-icons.md-light {
        color: rgba(255, 255, 255, 1);
    }

    .material-icons.md-light.md-inactive {
        color: rgba(255, 255, 255, 0.3);
    }

    ::-webkit-scrollbar {
        width: 8px;
        margin: 5px;
        height: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 5px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #82b446;
        border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #ddd;
    }

    #header {
        padding-left: 10px;
        color: white;
        /* background-image: linear-gradient(to right, #2e7d32, #388e3c, #7cb342); */
        /*linear-gradient(to left, #0d47a1, #1565c0);*/
        background-color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: inline-flex;
        height: 40px;
        border-top: 1px solid #dddddd;
        border-bottom: 2px solid yellowgreen;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }


    #header .logo-text {
        padding: 0px;
        font-size: 32px;
        font-family: 'Patua One', cursive;
        color: #2e7d32;
    }

    #header .logo-icon {
        margin-left: 0px;
        margin-top: 6px;
        margin-bottom: 10px;
    }


    #header #utility {
        margin-left: 73%;
        display: inline-flex;
        align-items: stretch;
    }

    #header #utility .download-doc,
    .print-doc {
        display: inline-flex;
    }

    #header #utility .icon {
        width: 24px;
        color: white;
        margin: 8px 0px;
        align-content: right;
        fill: white;
        /*border: 1px solid black;
        border-radius: 4px;*/
    }

    #header #utility .text {
        width: 80px;
        height: 30px;
        margin: 8px 4px;
        font-size: 20px;
        /*border: 1px solid white;*/
        text-align: left;
    }

    #footer {
        padding-top: 0px;
        /*font-family: 'Lato', sans-serif;*/
        padding-left: 10px;
        font-size: 10px;
        margin: 0px;
        height: 20px;
        /* color: white; */
        color: black;
        /*background-color: #3498db;*/
        /* background-image: linear-gradient(to left, #1565c0, #1976d2, #1e88e5); */
        /* background-color: #1565c0; */
        background-color: #eeeeee;
        position: fixed;
        bottom: 0;
        /* border-top: 2px solid #0d47a1; */
        border-top: 1px solid #dddddd;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        width: 100%;
    }

    #footer p {
        margin-top: 2px;
        margin-bottom: 0px;
    }

    #menu {
        padding: 5px;
        padding-bottom: 8px;
        margin: 0;
        background-color: white;
        color: black;
        position: fixed;
        top: 50px;
        /* left: 0px; */
        width: auto;
        left: 50%;
        transform: translate(-50%, 0%);
        height: 40px;
        border: none;
        /* border-top: 3px solid #3498db; */
        /* border: 2px solid #3498db; */
        /* border: 1px solid #cccccc; */
        border-radius: 40px;
        /* box-shadow: 2px 2px #aaaaaa; */
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        justify-content: center;
        display: inline-flex;
        /* overflow-x: auto; */
    }

    #menu .icon {
        width: 35px;
        margin: 5px 5px;
        align-content: center;
        /*border: 1px solid black;
        border-radius: 4px;*/
        opacity: 0.7;
        align-items: center;
        justify-items: center;
    }

    #menu button {
        padding: 0px;
    }

    #menu .icon:hover {
        opacity: 0.95;
        transform: scale(1.2, 1.2);
    }

    #menu .icon:active {
        transform: translate(1px, 1px);
    }

    #menu .text {
        width: 63px;
        margin: 4px 8px;
        font-size: 14px;
        /*border: 1px solid black;*/
        font-family: 'Lato', sans-serif;
        text-align: center;
        justify-content: center;
        z-index: 0;
    }

    /*Specify hover event for individual class under*/
    /* #menu .text:hover {
        color: #3498db;
        z-index: 1;
    } */

    .br {
        display: block;
        margin-bottom: 5px;
    }

    .brmedium {
        display: block;
        margin-bottom: 10px;
    }

    .brlarge {
        display: block;
        margin-bottom: 15px;
    }

    #content {
        /* margin-top: 166px; */
        margin-top: 41px;
        margin-bottom: 21px;
        /* margin-left: 275px; */
        color: black;
        padding-top: 70px;
        padding-bottom: 15px;
        /* width: 80%; */
        width: 100%;
        background-color: #f1f1f1;
        /* border-right: -5px solid gold; */
        /*Attention to the details here*/
    }

    #editor1 {
        /*border: 1px solid green;*/
        /*Inserting the values for the A4 sheet here*/
        height: 842px;
        width: 595px;
        background-color: white;
        background-color: #f5f5f5;
        margin: auto;
        padding: 147px;
        margin: 15px auto;
        border: 1px solid #bbb;
    }

    input:focus,
    textarea:focus,
    select:focus {
        outline: none;
    }

    #panel {
        padding: 10px;
        visibility: hidden;
        font-size: 10px;
        color: black;
        background-color: white;
        position: fixed;
        left: 0;
        /* top: 166px; */
        top: 42px;
        bottom: 36px;
        height: auto;
        /* border: 1px solid #8b7878; */
        width: 17.5%;
        min-width: 330px;
    }

    #panel .panel-headings {
        font-family: 'Source Sans Pro', sans-serif;
        padding: 10px;
        font-size: 28px;
        justify-content: left;
    }

    #panel #format-text-panel {
        z-index: 1;
    }

    #panel fieldset {
        position: relative;
        top: 10px;
        bottom: 10px;
        overflow-y: auto;

        margin: auto;
        width: 90%;
        height: 90%;
        background-color: white;
        /*background-color: #3498db;*/
        border: 1px solid #dddddd;
    }

    #panel #format-text-panel button {
        text-align: center;
        /* padding: 2px 10px; */
        height: 34px;
        /* margin-right: 4px;
        margin-bottom: 4px; */
        margin: 4px;
        width: 34px;
        background-repeat: no-repeat;
        background-color: #eeeeee;
        border: none;
        border-radius: 5px;
        background-size: cover;
        cursor: pointer;
        opacity: 0.75;
    }

    #panel #format-text-panel button:hover {
        opacity: 1;
    }

    /*#panel button:active {
        color: green;
        opacity: 0.8;
    }*/

    #format-text-panel .bold {
        background-image: url("icons_sheets/bold.png");
        margin-left: 10px;
        margin-top: 0px;
    }

    #format-text-panel .italic {
        background-image: url("icons_sheets/italics.png");
    }

    #format-text-panel .underline {
        background-image: url("icons_sheets/underlined.png");
    }

    #format-text-panel .align-left {
        background-image: url("icons_sheets/align_left.png");
        margin-left: 10px;
        margin-top: 10px;
    }

    #format-text-panel .align-right {
        background-image: url("icons_sheets/align_right.png");
    }

    #format-text-panel .align-center {
        background-image: url("icons_sheets/align_center.png");
    }

    #format-text-panel .redo-apply {
        background-image: url("icons_sheets/redo.svg");
        background-color: #eeeeee;
        border: none;
        border-radius: 5px;
    }

    #format-text-panel .undo-apply {
        background-image: url("icons_sheets/undo.svg");
    }

    #format-text-panel .copy-view {
        background-image: url("icons_sheets/copy_alt.png");
    }

    #format-text-panel .unorderedlist {
        background-image: url("icons_sheets/bulleted_list.png");
    }

    #format-text-panel .orderedlist {
        background-image: url("icons_sheets/numbered_list.png");
        margin-left: 10px;
    }

    #format-text-panel .strikethrough {
        background-image: url("icons_sheets/strikethrough.png");
        width: 38px;
    }

    #format-text-panel .color-apply {
        width: 34px;
        height: 34px;
        border: none;
        /*border: 1px solid black;*/
        border-radius: 5px;
    }

    #format-text-panel #input-font {
        margin: 0px 10px;
        width: 70%;
        height: 24px;
        font-size: 18px;
        border: 1px solid black;
        border-radius: 4px;
    }

    #format-text-panel #fontSize {
        margin: 0px;
        width: 15%;
        height: 24px;
        font-size: 18px;
        border: 1px solid black;
        border-radius: 4px;
    }

    /*#format-text-panel #input-font:active {
        fill: green;
        color: black;
        background-color: aqua;
        background-image: linear-gradient(to right, white, aqua);
    }*/

    /* [contentEditable="true"]:empty:not(:focus):before {
        color: white;
        margin-left: 2px;
        caret-color: green;
        outline: none;
        z-index: -1;
    } */

    .cell-content {
        border: 1px solid #e6e6e6;
        background: #e6e6e6;
        display: grid;
        /* padding: 10px; */
        grid-template-columns: 50px auto;
    }

    .cell-content div {
        border: 1px solid #cdcdcd;
        background: #fff;
        display: flex;
        align-items: center;
    }

    .cell-content div:nth-child(1) {
        justify-content: center;
        color: #999;
        font: italic 700 18px "Merriweather", serif;
        border-right: none;
    }

    .cells {
        position: relative;
        display: grid;
        grid-template-columns: 40px repeat(11, calc((100% - 50px) / 11));
        grid-template-rows: repeat(21, 25px);
        grid-gap: 1px;
        background: #cdcdcd;
        grid-auto-flow: dense;
        max-width: 100%;
        overflow: hidden;
    }

    .cells__spacer {
        background: #e6e6e6;
        position: relative;
    }

    .cells__spacer:after {
        content: "";
        position: absolute;
        right: 4px;
        bottom: 4px;
        height: 80%;
        width: 100%;
        background: linear-gradient(135deg, transparent 30px, #bbb 30px, #bbb 55px, transparent 55px);
    }

    .cells__alphabet {
        background: #e6e6e6;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cells__number {
        background: #e6e6e6;
        grid-column: 1 / span 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cells__input {
        border: none;
        padding: 0 6px;
    }

    .cells input,
    .cells button {
        border: none;
        background: #fff;
        padding: 0 6px;
        font-family: 'Noto Sans', sans-serif;
    }

    /*.input__explanation {
        grid-column: 3 / span 2;
        grid-row: 15;
    }

    .input__see-more {
        grid-column: 5;
        grid-row: 15;
        text-align: left;
        padding: 6px;
        background: #fff;
    }

    .input__sm-1,
    .input__sm-2,
    .input__sm-3 {
        text-align: center;
        padding: 6px;
        grid-row: 15;
        background: #fff;
    }

    .input__sm-1 {
        grid-column: 8;
    }

    .input__sm-2 {
        grid-column: 9;
    }

    .input__sm-3 {
        grid-column: 10;
    }*/
}

