body,
html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    /*width: 992px;*/
    margin: auto;
}

* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Patua+One|Zilla+Slab&display=swap');

@media screen and (min-width: 992px) {

    /* Style the top navigation bar */
    .topnav {
        overflow: hidden;
        width: 100%;
        /*background-color: #f2f2f2;*/
        background-image: linear-gradient(to bottom, rgba(31, 152, 187, 0.5)0%, rgba(31, 152, 187, 1)100%);
        position: absolute;
        top: 0;
        left: 0;
        height: 60px;
        border-top: 3px solid #1f98bb;
        border-bottom: 1px solid white;
    }

    /* Style the topnav links */
    .topnav button {
        float: left;
        display: block;
        font-family: 'Zilla Slab', serif;
        background-color: transparent;
        color: white;
        font-size: 24px;
        text-align: center;
        width: 125px;
        padding: 0px 20px;
        margin-top: 0px;
        margin-left: 15px;
        /*border: 2px solid #1976d2;*/
        border: none;
        border-radius: 10px;
    }


    /* Change color on hover */
    .topnav button:hover {
        background-color: white;
        border-radius: 20px;
        height: 32px;
        color: #1f98bb;
    }

    .bg-img {
        /* The image used */
        margin-top: 60px;
        overflow: hidden;
        /*background-image: linear-gradient(to top, rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.30)), url("Hex_Arr_2.png");*/
        background-image: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18)), url("background/Blue_BG2.png");
        height: 95%;
        width: 100%;
        /*max-height: 768px;*/
        /*min-width: 992px;*/

        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    #identity {
        position: absolute;
        height: 220px;
        width: 830px;
        top: 35%;
        left: 30%;
        transform: translate(-50%, 0%);
        background-color: transparent;
        border: none;
    }

    .hero-text {
        text-align: center;
        position: absolute;
        /* transform: translate(-50%, -50%); */
        color: white;
    }

    .top {
        /*font-family: 'Lora', serif;*/
        font-family: 'Zilla Slab', serif;
        text-shadow: 0px 2px #444444;
        /*text-shadow: 0px 0px 10px #111111;*/
        /* left: 37%; */
        position: absolute;
        right: 15px;
        bottom: 25px;
        /* top: 55%; */
        font-size: 45px;
    }

    .logo {
        font-family: 'Patua One', cursive;
        text-shadow: 1px 5px #cccccc;
        /*text-shadow: 0px 0px 15px #111111;*/
        /* left: 37%; */
        /* top: 45%; */
        position: absolute;
        right: 0px;
        top: 0px;
        font-size: 135px;
        margin-top: 0;
    }

    .logo-icon {
        position: absolute;
        /*margin-top: 290px;
        margin-left: 150px;*/
        top: 50%;
        left: 10px;
        transform: translate(0, -50%);
    }

    /* .bg-img2 { */
    /* The image used */
    /*margin-top: 60px;*/
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.18)), url("Blue_BG2.png");*/
    /*max-height: 768px;*/
    /*min-width: 992px;*/
    /* Center and scale the image nicely */
    /*         
        margin-top: -15px;
        height: 90%;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.90), rgba(255, 255, 255, 0.6)), url("/background/Hex_Arr_2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    } */

    .container {
        position: absolute;
        transform: translate(50%, -50%);
        right: 15%;
        top: 40%;
        margin: 20px;
        max-width: 400px;
        min-width: 400px;
        padding: 30px;
        background-color: #ffffff;
        border-radius: 6px;
        opacity: 1;
        animation-name: load;
        animation-duration: 0.8s;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        /*box-shadow: 0px 0px 15px #111111;*/
    }

    @keyframes load {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .bar {
        text-align: center;
        height: 6px;
        width: 100%;
        background: linear-gradient(to right, #e74c3c 0%, #e74c3c 10%, #3498db 10.1%, #3498db 20%, #2ecc71 20.1%, #2ecc71 30%, #f1c40f 30.001%, #f1c40f 100%);
        justify-content: center;
        animation-name: loading-2;
        animation-duration: 1.7s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
        border-radius: 3px;
    }

    @keyframes loading-2 {
        0% {
            background: linear-gradient(to right, #e74c3c 0%, #e74c3c 10%, #3498db 10.1%, #3498db 20%, #2ecc71 20.1%, #2ecc71 30%, #f1c40f 30.1%, #f1c40f 100%);
        }

        /*16.66% {
            background: linear-gradient(to right, #e74c3c 0%, #e74c3c 10%, #3498db 10.1%, #3498db 20%, #2ecc71 20.1%, #2ecc71 60%, #f1c40f 60.1%, #f1c40f 100%);
        }*/

        33.33% {
            background: linear-gradient(to right, #e74c3c 0%, #e74c3c 10%, #3498db 10.1%, #3498db 20%, #2ecc71 20.1%, #2ecc71 90%, #f1c40f 90.1%, #f1c40f 100%);
        }

        /*50% {
            background: linear-gradient(to right, #e74c3c 0%, #e74c3c 10%, #3498db 10.1%, #3498db 50%, #2ecc71 50.1%, #2ecc71 90%, #f1c40f 90.1%, #f1c40f 100%);
        }*/

        66.66% {
            background: linear-gradient(to right, #e74c3c 0%, #e74c3c 10%, #3498db 10.1%, #3498db 80%, #2ecc71 80.1%, #2ecc71 90%, #f1c40f 90.1%, #f1c40f 100%);
        }

        /*83.33% {
            background: linear-gradient(to right, #e74c3c 0%, #e74c3c 40%, #3498db 40.1%, #3498db 80%, #2ecc71 80.1%, #2ecc71 90%, #f1c40f 90.1%, #f1c40f 100%);
        }*/

        100% {
            background: linear-gradient(to right, #e74c3c 0%, #e74c3c 70%, #3498db 70.1%, #3498db 80%, #2ecc71 80.1%, #2ecc71 90%, #f1c40f 90.1%, #f1c40f 100%);
        }
    }

    /* Full-width input fields */
    input[type=email],
    input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #ffffff;
        border: 2px solid #d6d6d6;
        border-radius: 4px;
    }

    input[type=email]:focus,
    input[type=password]:focus {
        background-color: #f5f5f5;
        outline: none;
        text-overflow: clip;
        border-radius: 4px;
        border: 2px solid #1e88e5;
    }

    /* Set a style for the submit button */
    button:active {
        outline: none;
        transition-duration: (0.1s);
        transform: translate(2px, 2px);
    }

    .btn {
        background-color: #4CAF50;
        color: white;
        /*padding: 16px 20px;*/
        margin-top: 10px;
        padding: auto;
        font-size: 14px;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.75;
        border-radius: 4px;
        transition-duration: 0.1s;
        height: 40px;
    }

    .btn:hover {
        opacity: 1;
    }

    .btn:active {
        transform: translate(1px, 1px);
    }

    a:link,
    a:visited {
        position: absolute;
        bottom: 80px;
        right: 80px;
        background-color: white;
        color: #4CAF50;
        border: 2px solid #4CAF50;
        font-size: 16px;
        padding: 16px 20px;
        max-width: 300px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 6px;
        box-shadow: 0 3px #999;
        opacity: 1;
    }

    a:hover {
        transition-duration: 0.5s;
        background-color: #4CAF50;
        color: white;
        opacity: 1;
    }

    a:active {
        box-shadow: 0 3px #666;
        transform: translateY(2px);
        transition-duration: 0.5s;
        box-shadow: 0 5px #999;
        transform: translateY(-2px);
        animation-delay: 0.5s;
    }

    .footer {
        background-color: #0C2C52;
        /*background-color: #005B9A;*/
        /*background-color: #89cff0;*/
        color: #74C2E1;
        padding: 10px;
        font-family: 'Source Sans Pro', sans-serif;
        justify-content: center;
        border-top: 2px solid white;
    }

    .footer table {
        margin: auto;
        table-layout: fixed;
    }

    .footer th {
        text-align: left;
        font-size: 24px;
        color: white;
        padding-left: 10px;
    }

    .footer td {
        text-align: left;
        font-size: 18px;
        padding-left: 20px;
    }
}